{% load static %}
<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row gy-5">
          <div class="col-lg-3 col-md-6">
            <div class="footer-item">
              <a href="index.html"><img alt="image" src="{% static 'images/bg/footer-logo.png' %}" /></a>
              <p>Lorem ipsum dolor sit amet consecte tur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
              <form>
                <div class="input-with-btn d-flex jusify-content-start align-items-strech">
                  <input type="text" placeholder="Enter your email" />
                  <button type="submit"><img alt="image" src="{% static 'images/icons/send-icon.svg' %}" /></button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex justify-content-lg-center">
            <div class="footer-item">
              <h5>Navigation</h5>
              <ul class="footer-list">
                <li>
                  <a href="live-auction.html">All auction</a>
                </li>
                <li>
                  <a href="how-works.html">How It Works</a>
                </li>
                <li>
                  <a href="dashboard.html">My Account</a>
                </li>
                <li>
                  <a href="about.html">About Company</a>
                </li>
                <li>
                  <a href="blog.html">Our News Feed</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex justify-content-lg-center">
            <div class="footer-item">
              <h5>Help & FAQs</h5>
              <ul class="footer-list">
                <li>
                  <a href="auction.html">Help Center</a>
                </li>
                <li>
                  <a href="faq.html">Customer FAQs</a>
                </li>
                <li>
                  <a href="login.html">Terms and Conditions</a>
                </li>
                <li>
                  <a href="about.html">Security Information</a>
                </li>
                <li>
                  <a href="blog.html">Merchant Add Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row d-flex align-items-center g-4">
          <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
            <p>
              Copyright @2024 <a href="#">Ankand Auctions.</a>
            </p>
          </div>
          <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center align-items-center flex-sm-nowrap flex-wrap">
            <p class="d-sm-flex d-none">We Accepts:</p>
            <ul class="footer-logo-list">
              <li>
                <a href="#"><img alt="image" src="{% static 'images/bg/footer-pay1.png' %}" /></a>
              </li>
              <li>
                <a href="#"><img alt="image" src="{% static 'images/bg/footer-pay2.png' %}" /></a>
              </li>
              <li>
                <a href="#"><img alt="image" src="{% static 'images/bg/footer-pay3.png' %}" /></a>
              </li>
              <li>
                <a href="#"><img alt="image" src="{% static 'images/bg/footer-pay4.png' %}" /></a>
              </li>
              <li>
                <a href="#"><img alt="image" src="{% static 'images/bg/footer-pay5.png' %}" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

