{% extends '_base.html' %}
{% load static %}
{% block contents %}
<div class="inner-banner">
    <div class="container">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">Password Reset</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Password Reset</li>
            </ol>
        </nav>
    </div>
</div>

<div class="signup-section pt-120 pb-120">
    <img alt="image" src="{% static 'images/bg/section-bg.png' %}" class="section-bg-top">
    <img alt="image" src="{% static 'images/bg/section-bg.png' %}" class="section-bg-bottom">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-10 col-lg-10 col-md-10">
                <div class="form-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <h2>Password Reset Email Sent</h2>
                    <p>We've sent you an email with instructions on how to reset your password. Please check your inbox.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}