{% extends 'dashboard/_index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block dashboard_contents %}
<div class="tab-pane fade show active" id="v-pills-purchase" role="tabpanel"
aria-labelledby="v-pills-purchase-tab">

<div class="table-title-area">
    <h3>All Purchase</h3>
    <select id="order-category">
        <option value="01">Show: Last 05 Order</option>
        <option value="02">Show: Last 03 Order</option>
        <option value="03">Show: Last 15 Order</option>
        <option value="04">Show: Last 20 Order</option>
    </select>
</div>

<div class="table-wrapper">
    <table class="eg-table order-table table mb-0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Bidding ID</th>
                <th>Bid Amount(USD)</th>
                <th>Image</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Title">Auction Title 01</td>
                <td data-label="Bidding ID">Bidding_HvO253gT</td>
                <td data-label="Bid Amount(USD)">1222.8955</td>
                <td data-label="Image"><img alt="image" src="{% static 'images/bg/order1.png' %}"
                        class="img-fluid"></td>
                <td data-label="Status" class="text-green">Successfully</td>
                <td data-label="Action"><button class="eg-btn action-btn green"><img
                            alt="image" src="{% static 'images/icons/aiction-icon.svg' %}"></button>
                </td>
            </tr>
            <tr>
                <td data-label="Title">Auction Title 02</td>
                <td data-label="Bidding ID">Bidding_HvO253gT</td>
                <td data-label="Bid Amount(USD)">1222.8955</td>
                <td data-label="Image"><img alt="image" src="{% static 'images/bg/order2.png' %}">
                </td>
                <td data-label="Status" class="text-green">Successfully</td>
                <td data-label="Action"><button class="eg-btn action-btn green"><img
                            alt="image" src="{% static 'images/icons/aiction-icon.svg' %}"></button>
                </td>
            </tr>
            <tr>
                <td data-label="Title">Auction Title 03</td>
                <td data-label="Bidding ID">Bidding_HvO253gT</td>
                <td data-label="Bid Amount(USD)">1222.8955</td>
                <td data-label="Image"><img alt="image" src="{% static 'images/bg/order3.png' %}">
                </td>
                <td data-label="Status" class="text-green">Cancel</td>
                <td data-label="Action"><button class="eg-btn action-btn green"><img
                            alt="image" src="{% static 'images/icons/aiction-icon.svg' %}"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% include '_partials/_paginate.html' with alignment='float-end' %}

</div>
{% endblock %}